@media screen and (max-width:992px) {
    .leftPart{
        width: 98% !important;
        margin: 0px auto !important;
    }
    .rightPart{
        width: 98% !important;
        margin: 0px auto !important;
    }
    .cardRightFirst{
        margin-top: 20px !important;
    }
    #cardSecond{
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
}